<main class="container flex justify-center items-center w-4/5 pt-16 flex-grow flex-col md:w-1/4 font-mono">
  <div class="text-white flex justify-center items-center w-full border p-4 rounded-md border-teal-600 md:w-full hover:animate-pulse text-center">
    <img
    src="https://media-exp1.licdn.com/dms/image/C4E03AQEZTrHFs96CHA/profile-displayphoto-shrink_800_800/0/1646169304330?e=1654128000&v=beta&t=8zj24fAjTqqDm0wEVKbRjOFU4VWA2czugkrUp50XUcg"
    alt="luka-slika" class="rounded-full h-24">
    <h1>I'm a front-end developer based in Croatia.</h1>
  </div>
  <div class="w-full">
    <h1 class="text-lg float-left text-left w-full mt-16 mb-2 underline-custom">Bio</h1>
    <p class="text-left text-base font-mono mb-10">
      My name is Luka Baksa. I'm a developer based in Croatia, currently working as an Ionic Developer in Prolink.
      I went to school in Germany for two years, afterwards transfering to First Gymnasium Varaždin.
      I'm starting my study of Information Systems at FOI in October, 2022.</p>
  </div>
  <div class="w-full">
    <h1 class="text-lg float-left text-left w-full underline-custom mb-2">Technologies</h1>
    <p class="text-left text-base font-mono mb-10">
      <li>Angular(Javascript)</li>
      <li>HTML</li>
      <li>CSS(Bootstrap and TailwindCSS)</li>
      In addition to that, I'm competent in using Android Studio and Ionic Framework, having built a hybrid app with API calls.
    </p>
  </div>
  <div class="w-full">
    <h1 class="text-lg float-left text-left w-full underline-custom mb-2">My interests/hobbies</h1>
      <p class="mb-4">I enjoy playing video games, creating applications and learning new technologies. Tech has been my passion ever since I was a child.
        At present, I'm learning back-end development using PostgreSQL, NodeJS and ExpressJS with ambition to become a full-stack developer.  </p>
  </div>
</main>

