<main class="container flex justify-center items-center w-4/5 pt-16 flex-grow flex-col md:w-2/3 font-sans">
  <div class="text-white flex justify-center items-center w-full border p-4 rounded-md border-teal-600 md:w-3/4 hover:animate-pulse text-center">
    <img
    src="https://media-exp1.licdn.com/dms/image/C4E03AQEZTrHFs96CHA/profile-displayphoto-shrink_800_800/0/1646169304330?e=1654128000&v=beta&t=8zj24fAjTqqDm0wEVKbRjOFU4VWA2czugkrUp50XUcg"
    alt="luka-slika" class="rounded-full h-24 mr-4">
    <h1>I'm a front-end developer based in Croatia.</h1>
  </div>
  <div class="w-full">
    <h1 class="text-2xl float-left text-left w-full mt-16 mb-2 underline-custom text-teal-400">Bio</h1>
    <p class="text-left text-base font-sans mb-10">
      My name is Luka Baksa. I'm a developer based in Croatia, currently working as an Ionic Developer in Prolink.
      I went to school in Germany for two years, afterwards transfering to First Gymnasium Varaždin.
      I'm starting my study of Information Systems at FOI in October, 2022.</p>
  </div>
  <div class="w-full">
    <h1 class="text-2xl float-left text-left w-full underline-custom mb-2 text-teal-400">Technologies</h1>
    <p class="text-left text-base font-sans mb-10">
      <li>Angular</li>
      <li>HTML</li>
      <li>CSS(Bootstrap and TailwindCSS)</li>
      In addition to that, I'm competent in using Android Studio and Ionic Framework, having built a hybrid app with API calls.
    </p>
  </div>
  <div class="w-full">
    <h1 class="text-2xl float-left text-left w-full underline-custom mb-2 text-teal-400">My interests/hobbies</h1>
      <p class="mb-10">I enjoy playing video games, creating applications and learning new technologies. Tech has been my passion ever since I was a child.
        At present, I'm learning back-end development using PostgreSQL, NodeJS and ExpressJS with ambition to become a full-stack developer.  </p>
  </div>
  <div class="w-full text-white mb-4  ">
    <h1 class="text-2xl float-left text-left w-full underline-custom mb-2 text-teal-400">Contact</h1>
      <ul>
        <li class="pt-2">
            <a href="tel:+3850924075197" class="text-sm"><b>Phone: +385 092 407 5197</b></a>
        </li>
        <li class="flex flex-row items-center text-sm pt-2">
         <a href="https://www.linkedin.com/in/luka-baksa-570014218/" class="text-sm"> <b>Linkedin</b></a> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48px" height="36px"><path fill="#3dd9eb" d="M42,37c0,2.762-2.238,5-5,5H11c-2.761,0-5-2.238-5-5V11c0-2.762,2.239-5,5-5h26c2.762,0,5,2.238,5,5 V37z"/><rect width="5" height="17" x="12" y="19" fill="#c2ffff"/><path fill="#c2ffff" d="M14.485,17h-0.028C12.965,17,12,15.888,12,14.499C12,13.08,12.995,12,14.514,12 c1.521,0,2.458,1.08,2.486,2.499C17,15.887,16.035,17,14.485,17z"/><path fill="#c2ffff" d="M36,36l-0.001-9.726c0-5.024-2.683-7.274-6.261-7.274c-1.652,0-3.352,0.594-4.738,1.938V19h-5v17h5 V25.187l0.002,0.001c0.394-0.978,1.305-1.985,2.806-1.985c1.967,0,3.192,1.5,3.192,3.698V36H36z"/></svg>
        </li>
        <li class="pt-2">
          <a href="mailto: baksaluka24@gmail.com" class="text-sm"><b>E-mail: baksaluka24@gmail.com</b></a>
        </li>
      </ul>
  </div>

  <app-footer></app-footer>
</main>

